spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tasklist?currentSchema=tasklist
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
      continue-on-error: false
#      data-locations: classpath:demo_data.sql

mybatis:
  mapper-locations: classpath:mybatis/mapper/*.xml


security:
  jwt:
    secret: ZmluYWxscHJvamVjdHBldGZvcnRhc2tsaXN0SVRJU0ZJUlNUTVlwZXRwcm9qZWN0
    access: 3600000
    refresh: 2592000000